.footer {
    position: fixed;
    bottom: 0;
    width: max(100%, var(--min-footer-width));
    z-index: 2;
}

.doc-bar {
    --window-height: 1.2em;
    --app-width: 150px;
    --icon-size: calc(var(--header-height) - (var(--border-width) * 2));
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #0000A8;
    border-top-width: var(--border-width);
    border-top-style: solid;
    border-image-source: url(./../assets/borders/border-dockbar.png);
    border-image-slice: 2 fill;
    z-index: 2;
}

.doc-app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--border-width);
    border-width: var(--border-width);
    border-style: solid;
    border-color: transparent;
    z-index: 2;
}

.start-app {
    --closed-border: url(./../assets/borders/border-dock-closed.png);
    gap: var(--border-width);
    margin-right: calc(2 * var(--border-width));
    align-items: center;
    display: flex;
    flex-direction: row;
    border-width: var(--border-width);
    width: auto;
    height: var(--window-height);
    border-style: solid;
    border-image-source: url(./../assets/borders/border-dock.png);
    border-image-slice: 2 fill;
    z-index: 2;
    cursor: pointer;
}

div[class=doc-app-container] > label:not([for^=all]) {
    width: var(--app-width);
    display: inline-flex;
}

div[class=doc-app-container] > label:last-child {
    margin-right: calc(2 * var(--border-width));
}

.doc-app {
    --closed-border: url(./../assets/borders/border-dock-closed.png);
    gap: var(--border-width);
    align-items: center;
    display: flex;
    flex-direction: row;
    border-width: var(--border-width);
    width: 100%;
    height: var(--window-height);
    border-style: solid;
    border-image-source: url(./../assets/borders/border-dock.png);
    border-image-slice: 2 fill;
    z-index: 2;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-icon {
    height: var(--icon-size);
    width: var(--icon-size);
    z-index: 2;
    border-width: var(--border-width);
    border-style: solid;
    border-color: transparent;
}

.doc-name {
    display: none;
}
.doc-app > div[class|=doc-name]:nth-of-type(1) {
    display: block;
    margin-top: calc(var(--header-height) * 0.2);
    margin-right: var(--border-width);
}

@media (max-width: 730px) {
    div[class=doc-app-container] > label[for=contacts] {
        display: none;
    }
}

@media (max-width: 610px) {
    .doc-name {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(1) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(2) {
        display: block;
        margin-top: calc(var(--header-height) * 0.2);
        margin-right: var(--border-width);
    }
    .doc-name {
        display: none;
    }

    div[class=doc-app-container] > label[for=contacts] {
        display: none;
    }
}

@media (max-width: 520px) {
    .doc-name {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(1) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(2) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(3) {
        display: block;
        margin-top: calc(var(--header-height) * 0.2);
        margin-right: var(--border-width);
    }

    div[class=doc-app-container] > label[for=contacts] {
        display: none;
    }
}

@media (max-width: 435px) {
    .doc-name {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(1) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(2) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(3) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(4) {
        display: block;
        margin-top: calc(var(--header-height) * 0.2);
        margin-right: var(--border-width);
    }

    div[class=doc-app-container] > label[for=contacts] {
        display: none;
    }
}

@media (max-width: 370px) {
    .doc-name {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(1) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(2) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(3) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(4) {
        display: none;
    }
    .doc-app > div[class|=doc-name]:nth-of-type(5) {
        display: block;
        margin-top: calc(var(--header-height) * 0.2);
        margin-right: var(--border-width);
    }

    div[class=doc-app-container] > label[for=contacts] {
        display: none;
    }
}