.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    --photo-width: 180px;
    --photo-height: 240px;
}

.cell-image {
    background-image: url('./../assets/photo.jpg');
    background-size: cover;
    display: flex;
    height: var(--photo-height);
    width: var(--photo-width);
}

.introduction-centered {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 100%;
    margin: auto;
    justify-content: center;
}

.text-window-height {
    height: calc(var(--photo-height) - var(--border-width) * 2);
}
