.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    --photo-height: 239px;
}

.profile-photo {
    height: var(--photo-height);
    display: flex;
}

.introduction-centered {
    --padding: 1em;
    display: flex;
    flex-direction: column;
    width: min-content;
    height: calc(100% + var(--padding) * -2);
    margin: auto;
    justify-content: center;
    padding: var(--padding);
}

.text-window-height {
    height: calc(var(--photo-height) - var(--border-width) * 2);
}
