.main-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    --long-dash-length: calc(var(--inline-picture-size) * 9 / 7);
    --long-dash-height: calc(var(--inline-picture-size) * 3 / 7);
}

.list {
    --padding: max(var(--target-padding), 4px);
    --padding-right: max(var(--target-padding), 2px);
    display: flex;
    flex-direction: column;
    gap: calc(var(--inline-picture-size) * 3 / 7);
    padding: var(--padding);
    padding-right: var(--padding-right);
    --default-long-dash-margin-top: calc(var(--long-dash-length) * (-1.5 / 9));
}

.inline-dash {
    width: var(--inline-picture-size);
    height: calc(var(--inline-picture-size) * 3 / 7);
    align-self: center;
    content: url("../assets/icons/dashes.svg");
    user-select: none;
}

img[class|="vertical-dash"] {
    --default-long-dash-margin-left: calc((var(--long-dash-length) - var(--inline-picture-size)) * -0.5);
    width: var(--long-dash-length);
    height: var(--long-dash-height);
    align-self: start;
    transform: rotate(90deg);
    content: url("../assets/icons/long-dashes.svg");
    user-select: none;
    margin-top: calc(
        var(--default-long-dash-margin-top) - (var(--multiplicator) * var(--long-dash-length) * 10 / 9)
    );
}

img[class^="vertical-dash-"] {
    --base-multiplier: 1;
    --vertical-multiplier-step: 2.5;
    margin-left: calc(-1 * var(--long-dash-length));
    z-index: 0;
}

.vertical-dash {
    --multiplicator: 0;
    margin-left: var(--default-long-dash-margin-left);
}

.vertical-dash-2 {
    --multiplicator: 1;
}

.vertical-dash-3 {
    --multiplicator: 2;
}

.vertical-dash-4 {
    --multiplicator: 3;
}

.vertical-dash-5 {
    --multiplicator: 4;
}

.vertical-dash-6 {
    --multiplicator: 5;
}

.vertical-dash-7 {
    --multiplicator: 6;
}

.vertical-dash-8 {
    --multiplicator: 7;
}

.vertical-dash-9 {
    --multiplicator: 8;
}

label {
    z-index: 1;
}

img[class|="list-bullet"] {
    width: var(--inline-picture-size);
    height: var(--inline-picture-size);
    align-self: center;
    z-index: 1;
    user-select: none;
}

img[class|="list-bullet-collapsible"] {
    cursor: pointer;
    content: url("../assets/icons/minus.svg");
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.side-data {
    display: flex;
    flex-direction: column;
}

.experience {
    display: flex;
    flex-direction: column;
}

.main-data {
    display: flex;
    flex-direction: column;
}

div[class^="list-item"] {
    display: flex;
    width: max-content;
    height: var(--inline-picture-size);
    align-items: center;    
}

div[class^="list-item"] > *:not(img) {
    margin-top: calc(var(--inline-picture-size) * 0.1);
}

.list-item2 {
    margin-left: calc(var(--inline-picture-size) * 2);
}

.list-item3 {
    margin-left: calc(var(--inline-picture-size) * 3.5);
}

.list-item-nested {
    margin-left: calc(var(--long-dash-length) * -0.463);
}

.list-item-nested-root {
    margin-left: calc(var(--inline-picture-size) * -0.463);
}

.list-item-root {
    margin-left: calc((var(--long-dash-length) + var(--inline-picture-size)) * -0.5);
}

.big-part-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile-row {
    display: flex;
    flex-direction: column;
}

.bsuir-text-mobile {
    display: block;
}

.bsuir-text-desktop {
    display: none;
}

.closable-contacts {
    display: none;
}

@media (min-width: 730px) {
    .side-data {
        display: flex;
        flex-direction: column;
        width: min-content;
    }
    
    .mobile-row {
        display: flex;
        flex-direction: column;
    }

    .main-container {
        flex-direction: row;
    }

    .closable-contacts {
        display: table;
    }
}

@media (min-width: 510px) {
    .bsuir-text-mobile {
        display: none;
    }
    .bsuir-text-desktop {
        display: block;
    }
}
