@font-face {
    font-family: "W95FA";
    src: url("./../assets/W95FA/W95FA.otf");
    src: 
        url("./../assets/W95FA/w95fa.woff2") format("woff2"),
        url("./../assets/W95FA/w95fa.woff") format("woff");
    font-display: swap;
}

html {
    touch-action: manipulation;
    --min-width: 401px;
    --max-width: 1000px;
    image-rendering: pixelated;
}

* {
    margin: 0;
    padding: 0;
    --font-size: 1em;
    --inline-picture-size: 0.8em;
    /* outline: red dashed 1px; */
}

body {
    --cross-height: 5px;
    --cross-width: 5px;
    --border-width: 2px;
    --initial-target-padding: 10px;
    --target-padding: var(--initial-target-padding);
    --header-height: calc(var(--font-size) * 1.2);
    background-color: #57A8A8;
    font-family: 'W95FA';
}

.desktop {
    padding: var(--target-padding);
    max-width: var(--max-width);
    min-width: max-content;
    margin: auto;
    margin-bottom: calc(var(--header-height) + var(--initial-target-padding));
    display: flex;
    flex-direction: column;
}

@media (max-width: 431px) {
    body {
        --target-padding: max(calc(9px - (431px - 100vw) / 3.75), 1px);
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }

    a {
        color: #000000;
        cursor: text;
        text-decoration: none;
    }

    body {
        background-color: transparent;
        zoom: 75%;
    }
}