
input {
    display: none;
}

#english:checked ~ div[class~=collapsible-english] {
    display: none;
}

#english:checked ~ div[class|=list-item] > img[class~=collapsible-english] {
    display: none;
}

#english:checked ~ * .list-bullet-collapsible-english {
    content: url("../assets/icons/plus.svg");
}

#belarusian:checked ~ div[class~=collapsible-belarusian] {
    display: none;
}

#belarusian:checked ~ div[class|=list-item] > img[class~=collapsible-belarusian] {
    display: none;
}

#belarusian:checked ~ * .list-bullet-collapsible-belarusian {
    content: url("../assets/icons/plus.svg");
}

#russian:checked ~ div[class~=collapsible-russian] {
    display: none;
}

#russian:checked ~ div[class|=list-item] > img[class~=collapsible-russian] {
    display: none;
}

#russian:checked ~ * .list-bullet-collapsible-russian {
    content: url("../assets/icons/plus.svg");
}

#wargaming:checked ~ div[class~=collapsible-wargaming] {
    display: none;
}

#wargaming:checked ~ * .list-bullet-collapsible-wargaming {
    content: url("../assets/icons/plus.svg");
}

#wargaming-technologies:checked ~ div[class~=collapsible-wargaming-technologies] {
    display: none;
}

#wargaming-technologies:checked ~ div[class~=list-item2] > img[class~=collapsible-wargaming-technologies] {
    display: none;
}

#wargaming-technologies:checked ~ * .list-bullet-collapsible-wargaming-technologies {
    content: url("../assets/icons/plus.svg");
}

#wargaming-responsibilities:checked ~ div[class~=collapsible-wargaming-responsibilities] {
    display: none;
}

#wargaming-responsibilities:checked ~ * .list-bullet-collapsible-wargaming-responsibilities {
    content: url("../assets/icons/plus.svg");
}

#bsuir:checked ~ div[class~=collapsible-bsuir] {
    display: none;
}

#bsuir:checked ~ div[class|=list-item] > img[class~=collapsible-bsuir] {
    display: none;
}

#bsuir:checked ~ * .list-bullet-collapsible-bsuir {
    content: url("../assets/icons/plus.svg");
}

#cisco:checked ~ div[class~=collapsible-cisco] {
    display: none;
}

#cisco:checked ~ * .list-bullet-collapsible-cisco {
    content: url("../assets/icons/plus.svg");
}

#python:checked ~ div[class~=collapsible-python] {
    display: none;
}

#python:checked ~ div[class|=list-item] > img[class~=collapsible-python] {
    display: none;
}

#python:checked ~ * .list-bullet-collapsible-python {
    content: url("../assets/icons/plus.svg");
}

#infrastructure:checked ~ div[class~=collapsible-infrastructure] {
    display: none;
}

#infrastructure:checked ~ div[class|=list-item] > img[class~=collapsible-infrastructure] {
    display: none;
}

#infrastructure:checked ~ * .list-bullet-collapsible-infrastructure {
    content: url("../assets/icons/plus.svg");
}

#additional-software:checked ~ div[class~=collapsible-additional-software] {
    display: none;
}

#additional-software:checked ~ div[class|=list-item] > img[class~=collapsible-additional-software] {
    display: none;
}

#additional-software:checked ~ * .list-bullet-collapsible-additional-software {
    content: url("../assets/icons/plus.svg");
}

#photo:checked ~ div[class~=header-container] > table[class~=closable-photo] {
    visibility: hidden;
}

#photo:checked ~div[class~=footer] > div[class~=doc-bar] > div[class~=doc-app-container] > label[for=photo] > div[class=doc-app] {
    border-image-source: var(--closed-border);
}

#introduction:checked ~ div[class~=header-container] > table[class~=closable-introduction] {
    visibility: hidden;
}

#introduction:checked ~ div[class~=footer] > div[class~=doc-bar] > div[class~=doc-app-container] > label[for=introduction] > div[class=doc-app] {
    border-image-source: var(--closed-border);
}

#contacts:checked ~ div[class~=main-container] > div[class~=side-data] > table[class~=closable-contacts] {
    visibility: hidden;
}

#contacts:checked ~ div[class~=footer] > div[class~=doc-bar] > div[class~=doc-app-container] > label[for=contacts] > div[class=doc-app] {
    border-image-source: var(--closed-border);
}

#skills:checked ~ div[class~=main-container] > div[class~=side-data] > div[class~=mobile-row] > table[class~=closable-skills] {
    visibility: hidden;
}

#skills:checked ~ div[class~=footer] > div[class~=doc-bar] > div[class~=doc-app-container] > label[for=skills] > div[class=doc-app] {
    border-image-source: var(--closed-border);
}

#languages:checked ~ div[class~=main-container] > div[class~=side-data] > div[class~=mobile-row] > table[class~=closable-languages] {
    visibility: hidden;
}

#languages:checked ~ div[class~=footer] > div[class~=doc-bar] > div[class~=doc-app-container] > label[for=languages] > div[class=doc-app] {
    border-image-source: var(--closed-border);
}

#experience:checked ~ div[class~=main-container] > div[class~=big-part-container] > table[class~=closable-experience] {
    visibility: hidden;
}

#experience:checked ~ div[class~=footer] > div[class~=doc-bar] > div[class~=doc-app-container] > label[for=experience] > div[class=doc-app] {
    border-image-source: var(--closed-border);
}

#education:checked ~ div[class~=main-container] > div[class~=big-part-container] > table[class~=closable-education] {
    visibility: hidden;
}

#education:checked ~div[class~=footer] > div[class~=doc-bar] > div[class~=doc-app-container] > label[for=education] > div[class=doc-app] {
    border-image-source: var(--closed-border);
}

.screen-dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
    margin:0;
    padding: 0;
    animation-name: load;
    animation-duration: 2s;
    animation-timing-function: linear;
    z-index: -1;
}

#reloader:active ~ .screen-dimmer {
    animation-name: none;
}

@keyframes load {
    0% {background-color: rgba(0, 0, 0, 1); z-index: 5;}
    50% {background-color: rgba(0, 0, 0, 1); z-index: 5;}
    100% {background-color: rgba(0, 0, 0, 0); z-index: 5;}
}