table[class^="window"] {
    border-width: var(--border-width);
    border-style: solid;
    border-image-source: url(./../assets/borders/border.png);
    border-image-slice: 2 fill;
}

table[class~=window] {
    width: 100%;
}

.window-text {
    border-width: var(--border-width);
    border-style: solid;
    border-image-source: url(./../assets/borders/border-text.png);
    border-image-slice: 2 fill;
}

.window-min {
    width: min-content;
    height: min-content;
}

.window-minh {
    width: 100%;
    height: min-content;
}

.icon-window {
    --icon-size: calc(var(--header-height) - (var(--border-width) * 2));
    height: var(--icon-size);
    width: var(--icon-size);
    border-width: var(--border-width);
    border-style: solid;
    border-color: transparent;
    user-select: none;
}

.header-window {
    --cross-height: calc(var(--header-height) - (var(--border-width) * 5));
    --cross-width: calc(var(--cross-height) * 8 / 7);
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #0000A8;
    color: #FFFFFF;
    gap: var(--border-width);
    height: var(--header-height);
}

.outer-cross {
    border-width: var(--border-width);
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}

.cross {
    position:absolute;
    width: var(--cross-width);
    height: var(--cross-height);
    content: url("../assets/icons/cross.svg");
    user-select: none;
}

.cross-base {
    width: var(--cross-width);
    height: var(--cross-height);
    border-width: var(--border-width);
    border-top-width: calc(var(--border-width) / 2);
    border-style: solid;
    border-color: transparent;
}

.inner-cross {
    border-width: var(--border-width);
    border-style: solid;
    border-image-source: url(./../assets/borders/border-dock.png);
    border-image-slice: 2 fill;
}

.win-name {
    margin-top: calc(var(--header-height) * 0.2);
}