.window {
    width: 100%;
    border-width: var(--border-width);
    border-style: solid;
    image-rendering: pixelated;
    border-image-source: url(./../assets/borders/border.png);
    border-image-slice: 2 fill;
}

.text-window {
    border-width: var(--border-width);
    border-style: solid;
    image-rendering: pixelated;
    border-image-source: url(./../assets/borders/border-text.png);
    border-image-slice: 2 fill;
    margin: 0px;
}

.min-window {
    width: min-content;
    height: min-content;
    border-width: var(--border-width);
    border-style: solid;
    image-rendering: pixelated;
    border-image-source: url(./../assets/borders/border.png);
    border-image-slice: 2 fill;
}

.minh-window {
    width: 100%;
    height: min-content;
    border-width: var(--border-width);
    border-style: solid;
    image-rendering: pixelated;
    border-image-source: url(./../assets/borders/border.png);
    border-image-slice: 2 fill;
}

.window-icon {
    --icon-size: calc(var(--header-height) - (var(--border-width) * 2));
    height: var(--icon-size);
    width: var(--icon-size);
    border-width: var(--border-width);
    border-style: solid;
    border-color: transparent;
}

.window-header {
    --cross-height: calc(var(--header-height) - (var(--border-width) * 5));
    --cross-width: calc(var(--cross-height) * 8 / 7);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: #0000A8;
    color: #FFFFFF;
    gap: var(--border-width)
}

.outer-cross {
    border-width: var(--border-width);
    border-style: solid;
    border-color: transparent;
}

.cross {
    position:absolute;
    width: var(--cross-width);
    height: var(--cross-height);
}

.cross-base {
    width: var(--cross-width);
    height: var(--cross-height);
    border-width: var(--border-width);
    border-top-width: calc(var(--border-width) / 2);
    border-style: solid;
    border-color: transparent;
}

.inner-cross {
    border-width: var(--border-width);
    border-style: solid;
    border-image-source: url(./../assets/borders/border-dock.png);
    border-image-slice: 2 fill;
}

.window-name {
    margin-top: calc(var(--header-height) * 0.2);
}