@font-face {
  font-family: "W95FA";
  src: url("./assets/W95FA/W95FA.otf");
  src: 
    url("./assets/W95FA/w95fa.woff2") format("woff2"),
    url("./assets/W95FA/w95fa.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  --font-size: 1em;
}

table {
  border-spacing: 0px;
}

.window {
  --header-height: 1.2em;
  width: 100%;
  height: 100%;
  border-width: var(--border-width);
  border-style: solid;
  image-rendering: pixelated;
  border-image-source: url(./assets/borders/border.png);
  border-image-slice: 2 fill;
}

.window-icon {
  height: var(--header-height);
}

body {
  --cross-height: 5px;
  --cross-width: 5px;
  --border-width: 2px;
  --max-width: 1000px;
  --target-padding: 10px;
  background-color: #57A8A8;
  font-family: 'W95FA';
}

.cell-image {
  background-image: url('./assets/photo.jpg');
  background-size: cover;
  height: var(--height);
}

.introduction-body {
  height: var(--height);
}

.introduction-centered {
  width: 12em;
  margin: auto;
}

.window-header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: #0000A8;
  color: #FFFFFF;
  gap: var(--border-width)
}

.outer-cross {
  border-width: var(--border-width);
  border-style: solid;
  border-color: transparent;
}

.cross {
  position:absolute;
  width: 8px;
  height: 7px;
}

.cross-base {
  width: 8px;
  height: 7px;
  border-width: var(--border-width);
  border-top-width: calc(var(--border-width) / 2);
  border-style: solid;
  border-color: transparent;
}

.inner-cross {
  border-width: var(--border-width);
  border-style: solid;
  border-image-source: url(./assets/borders/border-dock.png);
  border-image-slice: 2 fill;
}

.window-name {
  margin: auto;
  margin-left: 0;
  margin-right: var(--border-width);
}

.header-row {
  --height: 240px;
}

.default {
  padding: var(--target-padding);
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 1em;
  padding-right: 2em;
}

.contacts-bullet {
  width: 0.8em;
  height: 0.8em;
  align-self: center;
}

.profile-image {
  width: 180px;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.side-data {
  display: flex;
  flex-direction: column;
}

.main-data {
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.doc-bar {
  --window-height: 1.2em;
  --app-width: 150px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #0000A8;
  border-top-width: var(--border-width);
  border-top-style: solid;
  image-rendering: pixelated;
  border-image-source: url(./assets/borders/border-dockbar.png);
  border-image-slice: 2 fill;
}

.doc-app-container {
  display: flex;
  flex-direction: row;
  gap: var(--border-width);
  border-width: var(--border-width);
  border-style: solid;
  border-color: transparent;
}

.start-app {
  gap: var(--border-width);
  margin-right: calc(2 * var(--border-width));
  align-items: center;
  display: flex;
  flex-direction: row;
  border-width: var(--border-width);
  width: auto;
  height: var(--window-height);
  border-style: solid;
  image-rendering: pixelated;
  border-image-source: url(./assets/borders/border-dock.png);
  border-image-slice: 2 fill;
}

.doc-app {
  gap: var(--border-width);
  align-items: center;
  display: flex;
  flex-direction: row;
  border-width: var(--border-width);
  width: var(--app-width);
  height: var(--window-height);
  border-style: solid;
  image-rendering: pixelated;
  border-image-source: url(./assets/borders/border-dock.png);
  border-image-slice: 2 fill;
}

.app-icon {
  height: var(--window-height);
}